<footer>
    <div class="footer">
        <ul class="pagination-container">
            <% for( let index = 1; index <= 5; index++ ) { %>
                <li><%= index %></li>
            <% } %>
        </ul>
    </div>
    
    <p>copyright &copy; FLIXHIVE <%= new Date().getFullYear() %></p>
</footer>
<script src="/js/script.js"></script>
</body>
</html>