<%- include('./partials/header.ejs') %>
    <main class="main">
        <%- include('./partials/sidebar.ejs') %>
        <%- include('./partials/movieList.ejs') %>
    </main>
<%- include('./partials/footer.ejs') %>

