@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;600&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif; */

*, *::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --PRIMARY: #040F16;
    --SECONDARY: #071a20;
    --COMPLIMENTARY: #0094C6;
    --ACCENT: #001242;
    --BUTTON: #000022;
    /* fonts */
    --FONT1: 'Lato', sans-serif;
    --FONT2: 'Poppins', sans-serif;
}

/* !UTILITIES */
.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

:any-link {
    text-decoration: none;
    color: #fff;

}

.coming-soon {
    color: #fff;
    font-family: var(--FONT1);
}

.soon-cont {
    margin: 0 auto;
    min-width: 100px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* !GENERAL */

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: var(--SECONDARY);
}

.logo {
    text-transform: capitalize;
    font-family: var(--FONT1);
}

.navbar {
    padding: 8px;
    margin: 0;
    font-family: var(--FONT2);
}

.navbar ul li{
    padding: 4px;
    list-style-type: none;
    display: inline;
}

.navbar li a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

/* ! SIDEBAR & MAIN*/
.main {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: var(--PRIMARY);

}

.sidebar {
    padding: 10px;
    min-width: calc(100vw / 4);
    max-width: calc(100vw / 5);
    height: 550px;
    max-height: 100vh;
    background: var(--PRIMARY);
    color: #fff;
    font-family: var(--FONT2);;
    
}

.sidebar-items {
    max-width: 100%;
    /* border: 2px solid #000; */
    padding: 4px;
    border-radius: 5px;
    font-size: 12px;
}

.sd-item {
    width: auto;
    border: 1px solid var(--COMPLIMENTARY);
    padding: 4px;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
        color: #fff;
        background-color: #0094C6;
    }
}

.sd-titles {
    margin-block: 10px;
    text-transform: capitalize;
}

.movie-grid {
    padding: 10px;
}

.movie-cont {
    padding: 10px;
}

.filter-container {
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;

    & h2 {
        color: #fff;
        text-align: center;
        font-family: var(--FONT1);
    }

    & i {
        font-size: 28px;
        color: #0094C6;

        &:hover {
            cursor: pointer;
        }
    }
}


.single-movie {
    width: 220px;
    height: 350px;
    border-radius: 10px;

}

.thumbnail {
    width: 100%;
    height: 70%;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0 ;

    &:hover {
        cursor: pointer;
    }

}

.desc {
    height: 30%;
    padding: 8px; 
    background-color: #044c64;
    border-radius: 0 0 10px 10px;
}

.movie-title {
    text-align: center;
    font-family: var(--FONT2);
    font-size: small;
    word-wrap: break-word;
}

.movie-overview {
    margin-top: 10px; 
    white-space: nowrap;
    width: 30ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* !VIEW SINGLE MOVIE & DETAILS */

.mvViewer {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: var(--PRIMARY);
}
.movieViewPoster {
    padding: 20px;
    width: 400px;
    height: 500px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        filter: drop-shadow(10px 0 20px var(--COMPLIMENTARY));
    }
}

.descView {
    padding: 20px;
    width: 600px;
    height: auto;
    display: flex;
    align-items: start;
    flex-flow: column wrap;
}

.descTitle {
    color: #fff;
    text-transform: capitalize;
    font-family: var(--FONT1);
}

.descOverview {
    padding: 10px;
    color: #bbb9b9;
    word-wrap: break-word;
    font-family: var(--FONT2);
}

.descDetails {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #bbb9b9;

    font-family: var(--FONT1);
}

.play-buttons {
    display: flex;
    gap: 20px;

    & img {
        width: 30px;
        height: 30px;
    }
}

.btn-play {
    padding: 10px 18px;
    color: #000;
    background-color: var(--COMPLIMENTARY);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: var(--FONT2);
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

/* !TRAILER PAGE */
.trailerContainer {
    margin: 0 auto;
    width: 1200px;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.trailerItem {
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

iframe {
    border-radius: 10px;
    filter: drop-shadow(20px 0 20px var(--COMPLIMENTARY));

}

/* ! FOOTER */
footer {
    background-color: var(--SECONDARY);

}
.footer {
    width: 100%;
    height: 200px;
    padding: 10px;   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer li {
    width: 50px;
    height: 50px;
    padding: 6px;
    background-color: var(--COMPLIMENTARY);
    color: #333;
    border-radius: 50%;
    font-size: 24px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;
    color: #fff;
    font-family: var(--FONT2);
}

/* ! SCROLLBAR STYLES */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: var(--COMPLIMENTARY);
    border-radius: 20px;
    margin-block: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--ACCENT);
}

/* !! MEDIA QUERIES FOR RESPONSIVE FEEL  */

/* MOBILE AND SMALL DEVICES */
@media only screen and (max-width: 320px) {
    .grid {
         grid-template-columns: repeat(2, 1fr);
    }
 
    .sidebar {
         display: none;
    }
 
    .single-movie {
         width: 90px;
         height: 280px;
    }
 }
@media only screen and (max-width: 576px) {
    .grid {
         grid-template-columns: repeat(3, 1fr);
    }
 
    .sidebar {
         display: none;
    }
 
    .single-movie {
         width: 120px;
         height: 280px;
    }

    .mvViewer {
        flex-direction: column;
    }

    .movieViewPoster {
        width: 400px;
        height: 300px;
    }

    .descView {
        width: 450px;
    }

    .trailerContainer {
        padding: 10px;
        width: 500px;
        height: 60vh;
    }
 }
 
 /* TABLET DEVICES */
 @media only screen and (min-width: 768px) {
    .grid {
         grid-template-columns: repeat(4, 1fr);
    }
 
    .sidebar {
         display: none;
    }
 
    .single-movie {
         width: 160px;
         height: 280px;
    }

    .trailerContainer {
        padding: 10px;
        width: 600px;
        height: 60vh;
    }
 }
 
 /* DESKTOP DEVICES */

 @media only screen and (min-width: 1024px) {
    .grid {
         grid-template-columns: repeat(5, 1fr);
    }
 
    .sidebar {
         display: block;
    }
 
    .single-movie {
         width: 180px;
         height: 280px;
    }
    .trailerContainer {
        padding: 10px;
        width: 800px;
        height: 80vh;
    }
 }
 @media only screen and (min-width: 1440px) {
    .grid {
         grid-template-columns: repeat(5, 1fr);
    }
 
    .sidebar {
         display: block;
    }
 
    .single-movie {
         width: 180px;
         height: 280px;
    }
 }