<%- include('../partials/header.ejs') %>
    <main class="main">
        <%- include('../partials/sidebar.ejs') %>
        <%- include('../partials/pageList.ejs') %>
    </main>
<%- include('../partials/footer.ejs', { contentType: contentType }) %>

