<%- include('../partials/header.ejs') %>
    <main class="main">
        <div class="soon-cont">
            <h1 class="coming-soon">COMING SOON ... </h1>
            <img src="/img/soon.jpg" alt="coming soon">
        </div>
        
    </main>
<%- include('../partials/footer.ejs') %>
